#ql-preview{
    .ql-size-huge{
        font-size:200%;
    }
    
    .ql-size-large{
        font-size:150%;
    }
    
    .ql-size-normal{
        font-size:100%;
    }
    
    .ql-size-small{
        font-size:75%;
    }
    
    .ql-align-center{
        text-align:center;
    }
    
    .ql-align-right{
        text-align:right;
    }
    
    .ql-font-monospace{
        font-family:monospace;
    }
    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
    }

        pre.ql-syntax {
            background-color: #23241f;
            color: #f8f8f2;
            overflow: visible;
        }
        
        pre {
            white-space: pre-wrap;
            margin-bottom: 5px;
            margin-top: 5px;
            padding: 5px 10px;
        }
        
        pre {
            background-color: #f0f0f0;
            border-radius: 3px;
        }
}
