* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ql-toolbar {
  display: flex; }

#editor {
  height: 375px;
  margin-bottom: 30px;
  display: flex; }

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.btn {
  border-radius: 10px;
  height: 50px;
  padding: 20px 50px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px; }

.btn-dark {
  background-color: #393c40;
  color: #f2f2f2; }

.btn-light {
  background-color: #f2dcc9;
  color: #393c40; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }
  .modal .clickBox {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.8); }
    .modal .clickBox .closeX {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 50px;
      cursor: pointer;
      color: #393c40; }
  .modal .alert-box {
    position: relative;
    padding: 20px;
    color: #f2f2f2;
    width: 600px;
    height: 350px;
    background-color: #393c40;
    margin: auto;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .modal .alert-box input {
      height: 50px;
      border-radius: 4px;
      width: 30%;
      font-size: 20px; }
    .modal .alert-box input[type='text'] {
      text-align: center; }

.addSave {
  background-color: mistyrose;
  padding: 20px;
  width: 50%; }
  .addSave button {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px; }
  .addSave button:hover {
    background-color: maroon; }
  .addSave input[type=text] {
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box; }

.showData nav a {
  text-decoration: none;
  margin-right: 10px; }

.nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #393c40;
  display: flex; }
  .nav .left-nav-holder {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav .left-nav-holder .link-holder {
      height: 100%;
      position: relative;
      cursor: pointer; }
      .nav .left-nav-holder .link-holder a {
        margin-top: 31px;
        color: #f2f2f2;
        text-decoration: none;
        text-transform: uppercase;
        display: block; }
      .nav .left-nav-holder .link-holder .active-box {
        position: absolute;
        bottom: 0;
        height: 12px;
        width: 100%;
        display: none; }
      .nav .left-nav-holder .link-holder .active {
        display: block;
        background-color: #f2dcc9; }
  .nav .right-nav-holder {
    width: 20%;
    height: 100%;
    display: flex; }
    .nav .right-nav-holder a {
      margin: auto;
      color: #f2f2f2;
      text-decoration: none;
      text-transform: uppercase; }

.content-wrapper {
  color: #393c40;
  padding: 110px 30px 30px 30px; }
  .content-wrapper .text-wrapper {
    width: 80%;
    margin-bottom: 40px; }

#ql-preview .ql-size-huge {
  font-size: 200%; }

#ql-preview .ql-size-large {
  font-size: 150%; }

#ql-preview .ql-size-normal {
  font-size: 100%; }

#ql-preview .ql-size-small {
  font-size: 75%; }

#ql-preview .ql-align-center {
  text-align: center; }

#ql-preview .ql-align-right {
  text-align: right; }

#ql-preview .ql-font-monospace {
  font-family: monospace; }

#ql-preview blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px; }

#ql-preview pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible; }

#ql-preview pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px; }

#ql-preview pre {
  background-color: #f0f0f0;
  border-radius: 3px; }
